pkgbase = stickystack
	pkgdesc = Turns the files on your Desktop into glossy fridge magnets, with curled sticky notes and date reminders
	pkgver = 0.1.1
	pkgrel = 1
	url = https://github.com/AbuCodingAI/stickystack
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = cargo
	depends = gtk3
	depends = glib2
	depends = cairo
	depends = pango
	depends = gdk-pixbuf2
	depends = libnotify
	source = stickystack-0.1.1.tar.gz::https://github.com/AbuCodingAI/stickystack/archive/refs/tags/v0.1.1.tar.gz
	sha256sums = 303c3e67e1acd152e96af8a444906a50ab6a1c0dccb0786eff95614dc7a5fa98

pkgname = stickystack
